<div class="login-form">
    <p class="login-text">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x"></i>
      </span>
    </p>
    <input type="email" class="login-username" autofocus="true" required="true" placeholder="Email" [(ngModel)]="usuario" >
    <input type="password" class="login-password" required="true" placeholder="Password" [(ngModel)]="clave">
    <button class="login-submit" (click)="login();">Login</button>
  </div>
  <a href="#" class="login-forgot-pass">forgot password?</a>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div>